	body {background-color:white;
							
							}
				.head {background-color:white;
							position: relative;
							color:#0070FF;
							font-size:24px;
							padding:3px;
  					 text-align: center;
  					 font-family:helvetica;
						}
						.headr {padding:3px 3px;
						              width:339px;
									  height:auto;
									
							 }
					.l {background-color:#2D2D2D;
							color:white;
							text-size:27px;ook0
							padding:20px;
							font-family:roboto;
							}
				ul {
 			                list-style-type: none;
  					margin: 0;
  					padding: 0;
  					overflow: hidden;
  					background-color:#0070FF;
					 border-radius:50px;
}

li {
  float:left;
  height:100px;
  font-size:30px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding:20px;
  text-decoration: none;
  font-size:30px;
  font-height:30px;
}

/* Change the link color to #8B8B8B on hover */
li a:hover {
  background-color: #202020;
}
.art{background-color:#4D9DFF;
	 color:white;
	text-align:center;
	padding:50px;
	text-size:24px;
	font-family:sans-serif;
	border-radius:10px;
}
.s		{align:center;
			height:50px;
			width:50px;
			border-radius: 100px;
    	-webkit-border-radius: 100px;
    	-moz-border-radius: 100px;
   	  padding:10px;
    							}
  
    .yt 	{width:247px;
    			height:200px;
    			posisition:relative;
    }
   
    .link	{align:center;
    			font-family:helvetica;
    			background-color:#404040;
    }
    .ft		{align:center;
    			 background-color:#404040;
    			font-size:16px;
    			}
    .p {font-family:sans-serif;
    	  color:white;
    	 font-size:26px;
    	 text-decoration:none;
    	 background-color:#0070FF;
    	 border-radius:10px;
    	 margin:10px;
    	
    	 
    }
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#0070FF;
  color: white;
  text-align: center;
  height:20px;
  font-size:16px;
}
.a {color:white;
	text-size:11px;
	text-decoration:none;
}
.landing {background-color:white;
				border-radius:10px;
				color:#4D9DFF;
				color:#4D9DFF;
				font-size:15px;
				text-align:center;
				}
.internet{color:white;
				font-family:bebas;
				font-style:bold;
				font-size:16px;
				text-decoration:none;
				}
.html {color:white;
       font-family:bebas;
       font-style:bold;
       font-size:16px;
       text-decoration:none;
}
from {position:relative;
transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    
}
input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}
.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}
form:hover,
form:valid{
    width: 200px;
    cursor: pointer;
}
form:hover input,
form:valid input{
    display: block;
}
form:hover .fa,
form:valid .fa{
    background: #07051a;
    color: white;
}
			.card {background-color:white;
			       color:black;
			       border-radius:10px;
			       padding:3px;
			       text-decoration:none;
			       text-size:9px;
			       font-family:helvetica;
			       margin:0px;
			       box-shadow:grey,4px;
			}
			.card p {font-family:helvetica;
			         font-size:11px;
			         color:white;
			         text-decoration:none;
			         text-align:center;
			         padding:10px;
			}
			 .card img {height:200px;
			            width:200px;
			            padding:3px;
			       	    webkit-border-radius:10px;
			            
			 }
			 .button {text-decoration:none;
			          color:white;
			          background-color:#4D9DFF;
			          border-radius:5px;
			          padding:4px;
			          
			 }
			  /* Change the link color to #8B8B8B on hover */
  .button:hover {
  background-color: #202020;
}
			 .card-text {font-family:helvetica;
			        				 font-size:5px;
			      				   color:white;
			     				    text-decoration:none;
			    				     text-align:center;
			     				    background-color:#4D9DFF;
			  				       border-radius:10px;
			 				        padding:4px;
			        
			         
			 }
			 hr {border-color:#4D9DFF;
			     height:3px;
			     background-color:#0070FF;
			 }
			 .arti a {text-decoration:none;
			  						border-radius:10px;
			  						font-family:helvetica;
			  						display:flex;
			  						overflow:hidden;
			  						background-color:#0070FF;
			  						padding:17px;
			  						color:white;
			  						margin:8px;
			 }
			 .df {padding:7px;
			 					background-color:#0070FF;
			 					color:white;
			 					font-family:monosans;
			 					margin:5px;
			 }
			 .page {background-color:white;
			 							padding:7px;
			 							text-decoration:none;
			 							width:300px;
			 }
			 .eb {height:200px;
			     width:200px;
			     padding:3px;
			     align:center;
			 }
			 .card-art {background-color:#4D9DFF;
			            padding:20px;
			            border-radius:7px;
			            color:white;
                                    font-size:18px;
			 }
			 .ab {background-color:black;
			      font-family:helvetica;
			      color:white;
			      padding:10px;
			      font-size:14px;
			 }
			 .saya {height:300px;
			        width:300px;
			        border-radius:50px;
			        float:left;
			 }
			 .comment {background-color:#4D9DFF;
			           font-size:13px;
			           text-decoration:none;
			           padding:4px;
			 }
			 .	  /* Change the link color to #8B8B8B on hover */
  .arti a :hover {
  background-color: #202020;
}
.bio {background-color:black;
      font-family:courier;
      color:white;
      padding:10px;
      border-radius:10px;
      margin:20px;
}
